* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgba(18, 47, 75, 0.782);
  width: auto;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header li a {
  color: white;
  text-decoration: none;
  display: inline;
  margin-right: 10px;
}

#encabezado > nav > ul {
  margin-top: 40px;
  margin-right: 30px;
}

li {
  list-style-type: none;
}

#imagenLogo {
  height: 150px;
  margin-left: 30px;
}

#imagenSubtitulo {
  width: 100%;
}

#titulo > h1 {
  text-align: center;
}

#buttonsContainer {
  max-width: 50vw;
  display: flex;
  margin: 30px auto;
  height: fit-content;
  justify-content: space-around;
  align-items: center;
}

#divLista {
  display: flex;
  height: fit-content;
  justify-content: space-around;
  margin: 30px auto;
  max-width: 50vw;
}

#guardadoContainer {
  width: 30%;
  display: flex;
}

#guardadoContainer > i {
  color: black;
}
#guardadoContainer > input {
  width: 90%;
}
#guardadoContainer > button {
  width: 90%;
}

.btnForm {
  width: 30%;
  display: block;
}

.hidden {
  display: none !important;
}

.visible {
  display: block;
}

.txtForm {
  display: inline-block;
  width: 100%;
  margin: 10px 0px;
  border-radius: 25px;
}

.formContainer {
  display: block;
  width: 100%;
}

body > fieldset {
  max-width: 50vw;
  display: flex;
  margin: 0 auto;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  background-color: #a595ec82;
}

.cantidadesContainer > div > input {
  width: 90%;
}
.cantidadesContainer > div {
  width: 30%;
  display: flex;
  align-items: center;
}

.cantidadesContainer > div > i {
  color: black;
  margin-right: 5px;
}

.cantidadesContainer {
  display: flex;
  justify-content: space-between;
}

.cantidadesContainer > div {
  margin-left: 10px;
  margin-right: 10px;
}

.cantidadesContainer > .txtForm {
  margin: 10px 10px;
}

.filtroContainer {
  max-width: 50vw;
  display: flex;
  margin: 30px auto;
  height: fit-content;
  justify-content: space-around;
  align-items: center;
}

table,
th,
td {
  border: 1px solid rgb(20, 4, 112) !important;
  text-align: center;
}

footer {
  background-color: rgba(11, 10, 95, 0.782);
  width: auto;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer li a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  display: inline;
}

footer ul {
  padding-left: 0;
}

#footerContainer ul {
  margin-top: 40px;
  margin-left: 30px;
  align-items: flex-end;
}

footer li {
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
}

footer p {
  color: white;
  margin-top: 70px;
  margin-right: 30px;
}

footer nav {
  align-self: flex-end;
}
